/* Style for the section */
.appointment {
    text-align: center;
    padding: 20px;
}

/* Style for the heading */
.heading {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style for the image */
.image img {
    width: 200px; /* Adjust the size of the image */
    border-radius: 50%; /* Make the image round */
    margin-bottom: 20px;
}

/* Style for the input boxes */
.box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style for the submit button */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="submit"] a {
    text-decoration: none;
    color: white;
}
body {
   
    background-color: #45a049;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}